[submodule "nvim/.config/nvim/nvim/.config/nvim/pack/git-plugins/start/vim-cpp-modern"]
	path = nvim/.config/nvim/nvim/.config/nvim/pack/git-plugins/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
